/* Global Styles */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 300;
}

.spacer {
    display: none;
}

/* Sections */
.sections {
    width: 100dvw;
    padding: 0 4em;
    overflow-x: hidden;
}

.banners::before {
    background-color: #244AC2;
    position: absolute;
    left: 0;
    width: 4em;
    z-index: -1;
    content: "content";
    margin:0 auto;
    height:4.69em;
    color:#244AC2;
    transform: translateX(-4em);

}
.sections::after {
    background-color: black;
    position: absolute;
    right: 0;
    width: 2%;
    z-index: -1;
    padding: 2em;
    content: "content";
    top: 40%;
}

/* Header */
header {
    position: fixed;
    display: flex;
    justify-content: space-between;
    background-color: white;
    width: 100%;
    padding: 0 5em;
    z-index: 10;
}

header > div {
    padding: 2em;
}

header > div > img {
    height: 2em;
}

.first_indicator {
    transform: rotate(-30deg);
    filter: brightness(70%);
}

/* Carousel */
#carousel {
    height: 75vh;
    background-image: url(../assets/carousel_img_1.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: 0em;
    transition: background-position-x 2s;
    position:relative;
}


.banners {
    position: absolute;
    top: 50%;
    color: black;
    font-weight: 500;
    width: 100%;
    display: flex;
    justify-content: space-between;

}

.banners > div {
    font-size: 1.5em;
    height: fit-content;
}

.banners > .carousel-quote {
    background-color: #244AC2;
    color: white;
    padding: 0.5em;
    font-size: xx-large;
}

.banners > .carousel-arrow {
    width: fit-content;
    align-items: center;
    transform: translate(-2em, 0);
}

.banners > .carousel-arrow > img {
    clip-path: inset(0 0 0 50%);
}

.indicators {
    position: absolute;
    bottom:0;
    right: 2em;
    padding: 0 1em 1em 0;
}

.indicators > img {
    padding-right: 0.3em;
}

/* About Section */
#about {
    display: flex;
    justify-content: space-between;
    padding: 4em 0;
}

#about > div {
    width: fit-content;
}

#about > div > p {
    width: 75%;
}

/* Grids */
.grid {
    display: grid;
    width: 100%;
    gap: 1em;
    grid-template-columns: repeat(auto-fit, minmax(30%, 1fr));
}

.more_info_boxes {
    background-color: #061C2C;
    padding: 1em;
    color: white;
}

.account-row {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(45%, 1fr));
    gap: 1em;
}

.account-var {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #244AC2;
    color: white;
    height: 3em;
    margin-top: 4em;
    padding: 0 1em;
    font-size: 0.7em;
}

.account-var > img {
    width: 1em;
}

.second-wrapper {
    padding: 0 3em;
}

/* Animations */
.float,
.grow,
.go-right {
    transition: 0.2s;
}

.float:hover {
    transform: translate(0, -5px) scale(1.05);
}

.darken:hover {
    background-color: #061C2C;
}

.grow:hover {
    scale: 1.1;
}

.go-right:hover {
    transform: translate(0em, 0);
}

/* Keyframes */
@keyframes slide-in {
    from {
        background-position-x: 80em;
    }
    to {
        background-position-x: 0;
    }
}

@keyframes slide-out {
    from {
        background-position-x: 0;
    }
    to {
        background-position-x: -80em;
    }
}

/* Media Queries */
@media only screen and (max-width: 1080px) {
    .go-right:hover {
        transform: translate(-1em, 0);
    }
    .sections::after, .banners::before {
        display: none;
    }
    .spacer {
        display: block;
    }
    .sections {
        padding: 0;
    }
    .second-wrapper {
        padding: 0 1em;
    }
    #about {
        flex-direction: column;
    }
    #about > div {
        display: flex;
        align-items: center;
    }
    .about-info > p {
        font-size: 1.4em;
    }
    #about > div > img {
        padding: 4em 0 0 0;
        width: 18em;
    }
    #about > div > p {
        width: 100%;
    }
    .banners {
        width: 100%;
        justify-content: space-between;
    }
    .banners > .carousel-quote {
        font-size: x-larger;
    }

    #carousel {
        min-height: 400px;
        height: auto;
        width: 100%;
        background-size: fit-content;
    }
}

@media only screen and (max-width: 745px) {
    .grid {
        grid-template-columns: repeat(auto-fit, minmax(90%, 1fr));
    }
    #carousel {
        min-height: 200px;
        height: auto;
        width: 100%;
        background-size: fit-content;
        background-position-x: 150%;
    }
    .banners {
        height: 230px;
        top:50%;
        justify-content: space-between;
    }
    .banners > .carousel-quote {
        font-size: medium;
    }
    .banners > .carousel-arrow > img {
        width: 3em;

    }
    .indicators {
        display: none;
    }
    .spacer{
        height: 6em;
    }
}
